/* shared style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Merriweather:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
.section-sub-heading{
    color: #f00;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter',serif ;
}
.section-paragraph{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
/* header related style */
header{
    padding: 100px 0;
}
.banner{
    background-image: url('/images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Merriweather', serif;
}
.banner-content{
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    height: 600px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
}
.banner-sub-heading{
    font-size: 32px;
    font-weight: 400;
}
.banner-heading{
    font-size: 72px;
    font-weight: 900;
    font-weight: 900;
    line-height: 95px;
}

/* discount related style */
.discount{
    max-width: 802px;
    text-align: center;
    font-family: 'inter', serif;
    color: #f00;
    margin-bottom: 100px;
}
.discount-sub-heading{
    font-size: 88px;
    font-weight: 700;
}

.discount-description{
    margin: 48px 0 6px 0;
}
.discount-heading{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
/* welcome section related style */
.welcome{
    background-image: url('/images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}
.welcome-wrapper{
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
.welcome-content{
    max-width: 690px;
    color: #FFF;
}
.welcome-content .welcome-heading{
    font-family: 'Merriweather' serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}
.welcome-content .welcome-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0 45px 0;
}
.join-btn{
    border: 0;
    background: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}
.welcome-img{
    max-width: 319px;
    text-align: center;
}
/* date-time section related style */
.date-time{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    padding: 100px 385px;
    text-align: center;
    font-family: 'Inter', serif;
    margin-bottom: 100px;
}
.time-date-title{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.red-color{
    color: #f00;
}
.join-now-btn{
    text-transform: uppercase;
    color: #fff;
    border-radius: 8px;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 48px;
    background-color: #f00;
    border: none;
    cursor: pointer;
}
/* best offer section relate style */
.best-offer{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
    margin-bottom: 100px;
}
.section-heading{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.best-offer-heading{
    margin: 6px 0 22px;
}
.best-offer-left{
    width: 33%;
}
.best-offer-img{
    width: 37%;
}
.best-offer-img img{
    border: 15px solid #f00;
    border-radius: 50%;
    width: 365px;
    height: 365px;
    padding: 35px;
}
.best-offer-right{
    width: 30%;
    font-family: 'Inter', serif;
}
.session{
    color: #f00;
    font-size:48px ;
    font-weight: 700;
    margin-bottom: 6px;
}
.best-offer-right-img{
    margin-top: 42px;
    width: 40%;
}